*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: sans-serif;
}
body{
    background-color: #eee;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}